<div class="
  w-full
  h-full
  bg-[url(/images/bg-montain.jpg)]
  gb-cover
  bg-center
  bg-no-repeat

  flex
  items-center
  justify-center
">
  <div class="bg-white px-6 pb-4 rounded-lg shadow-lg w-full max-w-md mx-2 md:mx-0">
    <mat-tab-group class="">
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="text-xl sm:text-2xl">Iniciar sesión</span>
        </ng-template>
        <!-- Login Component -->
        <app-login class="m-4" />
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span class="text-xl sm:text-2xl">Registrarse</span>
        </ng-template>
        <!-- Register Component -->
        <app-register class="m-4" />
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
