@if (isLoading()) {
  <app-loading-spinner />
} @else {
  <div class="flex justify-center xl:m-0 w-full">
    <div class="flex flex-col w-full lg:w-1/2 mx-4 mt-5 p-6 rounded-2xl bg-white/5 dark:bg-neutral-900/40 ring-1 ring-white/10 shadow-sm">
      <div class="flex justify-around items-center">
        <img
          [src]="account()?.profilePicture || getDefaultProfileImageUrl(account()?.gender?.genderValue)"
          alt="profilePicture.jpg"
          class="w-28 h-28 xl:w-48 xl:h-48 rounded-full object-cover ring-4 ring-white/20 shadow-lg"
        />
        <div>
          <!-- Info user -->
          <div>
            <h2 class="text-4xl xl:text-5xl font-bold tracking-tight text-white">{{ account()?.username }}</h2>
            <p class="text-lg text-gray-200 dark:text-gray-300">
              {{ account()?.firstName }} {{ account()?.lastName }}
            </p>
          </div>
          <!-- Stats user -->
          <div class="mt-4 min-w-56">
            <div class="flex justify-between mb-4">
              <div class="flex flex-col items-center">
                <span class="text-white text-2xl font-bold">{{ followersCount() }}</span>
                <span class="text-gray-200 dark:text-gray-300 text-sm font-medium">{{ "profile.followers" | translate}}</span>
              </div>
              <div class="flex flex-col items-center">
                <span class="text-white text-2xl font-bold">{{ followedCount() }}</span>
                <span class="text-gray-200 dark:text-gray-300 text-sm font-medium">{{ "profile.followed" | translate}}</span>
              </div>
            </div>

            @if (canSeeFollowButton()) {
              <button matButton="tonal">
                <mat-icon>add</mat-icon>
                {{ "profile.follow" | translate }}
              </button>
            }
            @if (canSeeUnfollowButton()) {
              <button matButton="filled">
                <mat-icon>check</mat-icon>
                {{ "profile.following" | translate }}
              </button>
            }
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <p class="mt-5 text-base text-gray-100 italic text-center max-w-md leading-relaxed">
          {{ account()?.biography }}
        </p>
      </div>
    </div>
  </div>
  <div>
    <div class="mt-8 px-3 md:px-0 pb-12 w-full flex flex-col justify-center items-center gap-6">
      @for (hikingTrail of hikingTrails(); track $index) {
        <app-hiking-trail-card
          [hikingTrail]="hikingTrail"
          [belongLoggedUser]="accountLoggedCode() === hikingTrail.account?.code"
          [showResume]="true"
        />
      }

      <app-up-button />

      @if (isLoadingHikingTrails()) {
        <app-loading-spinner />
      }

    </div>

    <div #sentinela class="h-1 w-full"></div>
  </div>
}

