<div class="dark:bg-dark-mode">
  <div class="py-4">
    <span class="font-medium text-2xl ml-3 text-white">{{ 'laps.laps' | translate }}</span>
  </div>
  <div class="flex gap-2 mb-3">
    <button
      class="bg-amber-400 hover:bg-amber-500 dark:bg-blue-500 dark:hover:bg-blue-700 dark:text-white font-medium py-2 px-4 rounded-full cursor-pointer"
      (click)="accordion().openAll()"
    >
      <span class="mdi mdi-expand-all text-xl"></span>
      {{ 'expand-all' | translate }}
    </button>
    <button
      class="bg-amber-400 hover:bg-amber-500 dark:bg-blue-500 dark:hover:bg-blue-700 dark:text-white font-medium py-2 px-4 rounded-full cursor-pointer"
      (click)="accordion().closeAll()"
    >
      <span class="mdi mdi-collapse-all text-xl"></span>
      {{ 'collapse-all' | translate }}
    </button>
  </div>
  <mat-accordion class="justify-between items-center" multi>
    @for (lap of laps; track $index; let lapIndex = $index) {
      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'laps.lap' | translate:{ lap: lapIndex + 1 } }}
          </mat-panel-title>
          <mat-panel-description>
            <div class="grid grid-cols-1 sm:grid-cols-2 items-start w-full">
              <span>{{ 'laps.kilometer' | translate }}: {{ getKilometer(lapIndex) }}</span>
              <span>{{ 'metrics.duration' | translate }}: {{ getDuration(lapIndex)}}</span>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="grid grid-cols-2 md:grid-cols-3 gap-4 gap-x-16 justify-items-start items-center">
          @for (metric of metricsDisplay; track metric.key) {
            @if (metric.display && getMetricValue(lapIndex, metric.key)) {
              <div>
                <span class="dark:text-gray-700 text-sm">{{ metric.label | translate }}</span>
                <div class="flex items-center" [matTooltip]="(metric.label | translate)">
                  <span [class]="'mdi ' + metric.icon + ' text-2xl font-medium'">
                    <span class="text-xl font-medium">
                      {{ getMetricValue(lapIndex, metric.key) }} <span class="text-lg">{{ metric.unit }}</span>
                    </span>
                  </span>
                </div>
              </div>
            }
          }
        </div>
      </mat-expansion-panel>
    }
  </mat-accordion>
</div>

