<nav class="relative bg-gradient-to-b from-[#295e64] to-light-mode
  dark:bg-gradient-to-b dark:from-[#0C0C0D] dark:to-dark-mode
  after:pointer-events-none after:absolute after:inset-x-0 after:bottom-0 after:h-px after:bg-white/10">

  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">

      <!-- Mobile menu button -->
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button type="button" command="--toggle" commandfor="mobile-menu"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-300 hover:bg-white/5 hover:text-white focus:outline-2 focus:-outline-offset-1 focus:outline-indigo-500">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">{{ 'navbar.open-icon' | translate }}</span>
          <!-- Open Icon -->
          <svg class="size-6 in-aria-expanded:hidden" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="1.5" aria-hidden="true">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <!-- Close Icon -->
          <svg class="size-6 not-in-aria-expanded:hidden" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="1.5" aria-hidden="true">
            <path d="M6 18 18 6M6 6l12 12"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>

      <!-- Left section -->
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <a routerLink="/feed" class="flex items-center gap-2 shrink-0">
          <span class="text-white text-2xl font-medium">HikingTrailApp</span>
        </a>
        <!-- Search bar only visible on desktop -->
        <div class="hidden w-full sm:ml-6 sm:block md:px-5">
          <app-search-bar />
        </div>
      </div>

      <!-- Right section -->
      <div class="hidden sm:flex absolute inset-y-0 right-0 items-center gap-4 pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <app-account-icon />
        <app-theme-toggle />
        <app-add-activity-menu />
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <el-disclosure id="mobile-menu" hidden class="block sm:hidden">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <div class="flex items-center justify-between gap-4 px-2 mt-3 mb-4">
        <app-account-icon [mobileView]="true" />
        <app-add-activity-menu />
      </div>
      <app-search-bar />
      <app-profile-options-menu />
    </div>
  </el-disclosure>
</nav>

