<div class="mt-6 px-3 md:px-0 pb-12 w-full flex flex-col justify-center items-center gap-6">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ 'recommender.title' | translate }}</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-tab-group
        class="md:w-2xl"
        mat-stretch-tabs="false"
        mat-align-tabs="center">

        <mat-tab [label]="'metrics-score.title' | translate">
          <app-metrics-score-slider></app-metrics-score-slider>
        </mat-tab>

        <mat-tab [label]="'recommender.filter-options.title' | translate">
          <ng-template matTabContent>
            <app-recommender-filters (search)="onSearch($event)" />
          </ng-template>
        </mat-tab>

      </mat-tab-group>
    </mat-expansion-panel>

  </mat-accordion>


  @for (hikingTrail of hikingTrails(); track $index) {
    <app-hiking-trail-card
      [hikingTrail]="hikingTrail"
      [belongLoggedUser]="false"
      [showResume]="true"
    />
  }

  @if (hasSearched() && !isLoading() && hikingTrails().length === 0) {
    <p class="text-center opacity-70">
      {{ 'recommender.filter-options.no-results' | translate }}
    </p>
  }

  <app-up-button />

  @if (isLoading()) {
    <app-loading-spinner />
  }

</div>

<div #sentinela class="h-1 w-full"></div>
