<div class="flex flex-col rounded-xl overflow-hidden ring-1 ring-white/10 shadow-sm w-full">
  @for (option of options; track $index) {
    <div
      [routerLink]="['/settings', option.key]"
      routerLinkActive
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [class]="
        (rla.isActive
          ? 'bg-light-mode-primary dark:bg-neutral-900 border-b-2 border-b-white '
          : 'hover:bg-light-mode-secondary hover:dark:bg-neutral-950 ') +
        ($index === 0 ? 'rounded-t-sm ' : '') +
        ($index === options.length - 1 ? 'rounded-b-sm ' : '') +
        'h-12 flex justify-start items-center cursor-pointer w-full transition-colors'
      "
    >
      <span class="text-white ml-6 material-icons"
      >
        {{ option.icon }}
      </span>
      <span class="text-white ml-2"
      >
        {{ option.label | translate }}
      </span>
    </div>
  }
</div>
