<div class="mt-5 flex flex-col rounded-lg border-1">
  @for (option of options; track $index) {
    <div
      [routerLink]="['/settings', option.key]"
      routerLinkActive
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [class]="
        (rla.isActive ? 'dark:bg-neutral-600 ' : '') +
        ($index === 0 ? 'rounded-t-sm ' : '') +
        ($index === options.length - 1 ? 'rounded-b-sm ' : '') +
        'border-1 border-gray-300 h-12 w-44 flex justify-start items-center cursor-pointer'
      "
    >
      <span class="text-white ml-2">
        {{ option.label | translate }}
      </span>
    </div>
  }
</div>
