@if (hikingTrails().length > 0) {
  <div class="mt-5 px-3 md:px-0 w-full flex flex-col justify-center items-center gap-3">

    @for (hikingTrail of hikingTrails(); track $index) {
      <app-hiking-trail-card
        [hikingTrail]="hikingTrail"
        [belongLoggedUser]="accountLoggedCode === hikingTrail.account?.code"
        [showResume]="true"
      />
    }

    <app-up-button />

    @if (loading()) {
      <app-loading-spinner />
    }

  </div>
} @else {
  @if (loading()) {
    <app-loading-spinner />
  } @else {
    <div class="flex justify-center items-center mt-5">
      <span class="text-white text-2xl">{{ 'feed.no-following' | translate }}</span>
    </div>
  }
}

@if (error()) {
  <p class="text-red-500 text-2xl">{{ error() }}</p>
}

@if (isLastPage()) {
  <footer>
    <p class="text-white">Aqui podria ir un Footer</p>
  </footer>
}

<div #sentinela class="h-1 w-full"></div>
