@if (loading()) {
  <app-loading-spinner />
}

@if (!loading() && hikingTrail()) {
  <div class="flex flex-wrap justify-center items-start gap-6 mt-5 px-3 md:px-0 w-full">
    <!-- CARD DE LA INFO DE LARUTA -->
    <app-hiking-trail-card
      [hikingTrail]="hikingTrail()!"
      [belongLoggedUser]="accountLoggedCode === hikingTrail()!.account?.code"
    />

    <!-- Map -->
    @if (coordinates()) {
      <div class="flex justify-center items-center">
        <app-trail-map [coordinates]="coordinates()" [center]="getCenterPosition()" />
      </div>
    }
  </div>

}

@if (!loading() && !hikingTrail()) {
  <app-404 [message]="'hiking-trail.not-found' | translate" />
}
