<span class="text-white font-semibold text-2xl tracking-tight">
  {{ `settings.account.change-password` | translate }}:
</span>

<form [formGroup]="editPasswordForm" (ngSubmit)="changePassword()">
  <div class="flex flex-col mt-2">
    <div class="sm:w-1/2">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>{{ 'settings.account.current-password' | translate }}:</mat-label>
        <input matInput [type]="showCurrentPassword() ? 'text' : 'password'" formControlName="currentPassword" required>
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="showCurrentPassword.set(!showCurrentPassword())"
          matTooltip="{{ showCurrentPassword() ? ('login.hidePasswordTooltip' | translate) : ('login.showPasswordTooltip' | translate) }}"
        >
          <mat-icon>
            {{ showCurrentPassword() ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </button>
        @if (submitted && editPasswordControls['currentPassword'].hasError('required')) {
          <mat-error>{{ 'login.passwordRequired' | translate }}</mat-error>
        }
        @if (submitted && editPasswordControls['currentPassword'].hasError('minlength')) {
          <mat-error>{{ 'login.passwordMinLength' | translate }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row w-full gap-3 sm:mt-5">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>{{ 'settings.account.new-password' | translate }}:</mat-label>
        <input matInput [type]="showNewPassword() ? 'text' : 'password'" formControlName="newPassword" required>
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="showNewPassword.set(!showNewPassword())"
          matTooltip="{{ showNewPassword() ? ('login.hidePasswordTooltip' | translate) : ('login.showPasswordTooltip' | translate) }}"
        >
          <mat-icon>
            {{ showNewPassword() ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </button>
        @if (submitted && editPasswordControls['newPassword'].hasError('required')) {
          <mat-error>{{ 'login.passwordRequired' | translate }}</mat-error>
        }
        @if (submitted && editPasswordControls['newPassword'].hasError('minlength')) {
          <mat-error>{{ 'login.passwordMinLength' | translate }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>{{ 'settings.account.confirm-password' | translate }}:</mat-label>
        <input matInput [type]="showConfirmPassword() ? 'text' : 'password'" formControlName="confirmPassword" required>
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="showConfirmPassword.set(!showConfirmPassword())"
          matTooltip="{{ showConfirmPassword() ? ('login.hidePasswordTooltip' | translate) : ('login.showPasswordTooltip' | translate) }}"
        >
          <mat-icon>
            {{ showConfirmPassword() ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </button>
        @if (submitted && editPasswordControls['confirmPassword'].hasError('required')) {
          <mat-error>{{ 'login.passwordRequired' | translate }}</mat-error>
        }
        @if (submitted && editPasswordControls['confirmPassword'].hasError('minlength')) {
          <mat-error>{{ 'login.passwordMinLength' | translate }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="flex gap-2">
      <button class="w-full" type="submit" matButton="filled">
        {{ 'settings.account.change-password' | translate }}
      </button>
      <button class="w-full" type="reset" matButton="tonal">
        {{ 'clear-data' | translate }}
      </button>
    </div>
  </div>
</form>
