<h2 mat-dialog-title class="!font-semibold text-gray-800 dark:text-white">{{ data.title }}</h2>

<mat-dialog-content class="mat-typography">
  <p class="text-gray-600 dark:text-gray-300 leading-relaxed">{{ data.message }}</p>
</mat-dialog-content>

@if (focusCancel) {
  <mat-dialog-actions align="end">
    <button
      mat-button
      mat-dialog-close
      cdkFocusInitial
    >
      {{ 'dialog.no' | translate }}
    </button>
    <button
      mat-button
      class="!text-red-600 dark:!text-red-400 !font-medium"
      [mat-dialog-close]="true"
      (click)="deleteConfirmed()"
    >
      {{ 'dialog.yes' | translate }}
    </button>
  </mat-dialog-actions>
} @else {
  <mat-dialog-actions align="end">
    <button
      mat-button
      mat-dialog-close
    >
      {{ 'dialog.no' | translate }}
    </button>
    <button
      mat-button
      class="!text-red-600 dark:!text-red-400 !font-medium"
      [mat-dialog-close]="true"
      (click)="deleteConfirmed()"
      cdkFocusInitial
    >
      {{ 'dialog.yes' | translate }}
    </button>
  </mat-dialog-actions>
}
