<div class="sm:min-w-[400px] flex justify-between items-center">
  <h2 mat-dialog-title>{{ 'card.hiking-trail-form.title' | translate }}</h2>
  <button
    class="mr-3"
    mat-icon-button
    (click)="close()"
    aria-label="Cerrar"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  @if (isLoading()) {
    <div class="flex justify-center items-center h-64">
      <app-loading-spinner />
    </div>
  } @else {
    <!-- Comment box -->
    <div class="max-h-[500px] overflow-y-auto pr-2">
      <form [formGroup]="addHikingTrailForm">
        <div class="grid md:grid-cols-2 w-full gap-4 items-start mb-5">
          <!-- Name -->
          <mat-form-field class="w-full" subscriptSizing="dynamic">
            <mat-label for="name">{{ 'card.hiking-trail-form.name' | translate}}</mat-label>
            <input
              matInput
              formControlName="name"
              autocomplete="off"
              required
            />
            @if (submitted && addHikingTrailControls['name'].hasError('required')) {
              <mat-error>{{ 'card.hiking-trail-form.name-required' | translate }}</mat-error>
            }
          </mat-form-field>

          <!-- Distance -->
          <mat-form-field class="w-full" subscriptSizing="dynamic">
            <mat-label for="distance">{{ 'card.hiking-trail-form.distance' | translate}}</mat-label>
            <input
              matInput
              type="number"
              formControlName="distance"
              autocomplete="off"
              required
              min="0"
              step="0.01"
            />
            @if (submitted && addHikingTrailControls['distance'].hasError('required')) {
              <mat-error>{{ 'card.hiking-trail-form.distance-required' | translate }}</mat-error>
            }
            @if (submitted && addHikingTrailControls['distance'].hasError('min')) {
              <mat-error>{{ 'card.hiking-trail-form.distance-min' | translate }}</mat-error>
            }
          </mat-form-field>

          <!-- Description -->
          <mat-form-field class="w-full col-span-2" subscriptSizing="dynamic">
            <mat-label for="description">{{ 'card.hiking-trail-form.description' | translate}}</mat-label>
            <textarea
              matInput
              formControlName="description"
              autocomplete="off"
              cdkTextareaAutosize
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="5"
            ></textarea>
          </mat-form-field>

          <!-- Images -->
          <div
            class="col-span-2 flex items-center justify-center w-full"
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)"
            (drop)="onDrop($event)"
          >
            <label
              for="dropzone-file"
              [class]="'flex flex-col items-center justify-center w-full h-64 border-2 border-dashed rounded-lg cursor-pointer bg-gray-50 ' +
                    'dark:hover:bg-neutral-800 dark:bg-neutral-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 ' +
                    'transition-colors ' + (isDragOver ? 'border-blue-500 bg-blue-50' : '')"
              role="button"
              tabindex="0"
              (keydown.enter)="fileInput.click()"
              (keydown.space)="fileInput.click()"
            >
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
                <p class="mb-2 text-center text-sm text-gray-500 dark:text-gray-400">
                  <span class="font-semibold">{{ 'card.hiking-trail-form.click-to-upload' | translate }}</span>
                  {{ 'card.hiking-trail-form.drag-and-drop' | translate }}
                </p>
                <p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG</p>
              </div>

              <input
                #fileInput
                id="dropzone-file"
                type="file"
                class="hidden"
                multiple
                accept="image/png,image/jpeg"
                (change)="onFileInput($event)"
              />
            </label>
          </div>

          @if (errorUploadFile.length > 0) {
            <div class="col-span-2 text-red-600 text-sm text-center">
              {{ errorUploadFile }}
            </div>
          }

          @if (previews.length) {
            <div class="col-span-2">
              <div class="mt-4 grid grid-cols-2 md:grid-cols-4 gap-3">
                @for (preview of previews; track $index) {
                  <div class="relative">
                    <img [src]="preview.url" [alt]="preview.file.name" class="w-full h-32 object-cover rounded-lg">
                    <div class="mt-1 text-xs text-gray-500 truncate">{{ preview.file.name }}</div>
                  </div>
                }
              </div>
            </div>
          }

          <!-- Trail Type -->
          <mat-form-field class="w-full" subscriptSizing="dynamic">
            <mat-label for="trailType">{{ 'card.hiking-trail-form.trail-type' | translate}}</mat-label>
            <mat-select formControlName="trailType">
              @for (type of trailTypes; track $index) {
                <mat-option [value]="type.code">
                  {{ `trail-type.${ type.trail }` | translate }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <!-- Difficulty Level -->
          <mat-form-field class="w-full" subscriptSizing="dynamic">
            <mat-label for="difficultyLevel">{{ 'card.hiking-trail-form.difficulty-level' | translate}}</mat-label>
            <mat-select formControlName="difficultyLevel">
              @for (level of difficultyLevels; track $index) {
                <mat-option [value]="level.code">
                  {{ `difficulty-level.${ level.difficultyLevelValue }` | translate }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <!-- Terrain Type -->
          <mat-form-field class="w-full" subscriptSizing="dynamic">
            <mat-label for="terrainType">{{ 'card.hiking-trail-form.terrain-type' | translate}}</mat-label>
            <mat-select formControlName="terrainType">
              @for (terrain of terrainTypes; track $index) {
                <mat-option [value]="terrain.code">
                  {{ `terrain-type.${ terrain.terrain }` | translate }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <!-- Pet Friendly -->
          <mat-form-field class="w-full" subscriptSizing="dynamic">
            <mat-label for="petFriendly">{{ 'card.hiking-trail-form.pet-friendly' | translate}}</mat-label>
            <mat-select formControlName="petFriendly">
              <mat-option [value]="false">{{ 'dialog.no' | translate }}</mat-option>
              <mat-option [value]="true">{{ 'dialog.yes' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Start Date -->
          <mat-form-field class="w-full" subscriptSizing="dynamic">
            <mat-label for="startDate">{{ 'card.hiking-trail-form.start-date' | translate}}</mat-label>
            <input
              matInput
              [matDatepicker]="startPicker"
              formControlName="startDate"
              autocomplete="off"
              required
            />
            @if (submitted && addHikingTrailControls['startDate'].hasError('required')) {
              <mat-error>{{ 'card.hiking-trail-form.start-date-required' | translate }}</mat-error>
            }
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="w-full" subscriptSizing="dynamic">
            <mat-label>{{ 'card.hiking-trail-form.start-time' | translate }}</mat-label>
            <input
              matInput
              [matTimepicker]="startTimepicker"
              formControlName="startTime"
              placeholder="HH:mm"
              required
            >
            <mat-timepicker #startTimepicker interval="5m"></mat-timepicker>
            <mat-timepicker-toggle [for]="startTimepicker" matSuffix />
          </mat-form-field>

          <!-- End Time -->
          <mat-form-field class="w-full" subscriptSizing="dynamic">
            <mat-label for="endDate">{{ 'card.hiking-trail-form.end-date' | translate}}</mat-label>
            <input
              matInput
              [matDatepicker]="endPicker"
              formControlName="endDate"
              autocomplete="off"
              required
            />
            @if (submitted && addHikingTrailControls['endDate'].hasError('required')) {
              <mat-error>{{ 'card.hiking-trail-form.end-date-required' | translate }}</mat-error>
            }
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="w-full" subscriptSizing="dynamic">
            <mat-label>{{ 'card.hiking-trail-form.end-time' | translate }}</mat-label>
            <input
              matInput
              [matTimepicker]="endTimepicker"
              formControlName="endTime"
              placeholder="HH:mm"
              required
            >
            <mat-timepicker #endTimepicker interval="5m"></mat-timepicker>
            <mat-timepicker-toggle [for]="endTimepicker" matSuffix />
          </mat-form-field>

          <!-- Location -->
          <div
            #mapContainer
            id="map"
            class="rounded-2xl z-0 w-full h-64 col-span-2">
          </div>
        </div>

        <!-- Metrics -->
        <mat-accordion class="w-full col-span-2 my-5!">
          <mat-expansion-panel class="border rounded-lg" expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ 'card.hiking-trail-form.metrics' | translate }}</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="grid md:grid-cols-2 w-full gap-4 items-start">
              <!-- Steps -->
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label for="steps">{{ 'card.hiking-trail-form.steps' | translate}}</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="steps"
                  autocomplete="off"
                  min="0"
                  step="1"
                />
              </mat-form-field>

              <!-- Calories -->
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label for="calories">{{ 'card.hiking-trail-form.calories' | translate}}</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="calories"
                  autocomplete="off"
                  min="0"
                  step="1"
                />
              </mat-form-field>

              <!-- Average Pace -->
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label for="averagePace">{{ 'card.hiking-trail-form.average-pace' | translate}}</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="averagePace"
                  autocomplete="off"
                  min="0"
                  step="0.01"
                />
              </mat-form-field>

              <!-- Max Pace -->
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label for="maxPace">{{ 'card.hiking-trail-form.max-pace' | translate}}</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="maxPace"
                  autocomplete="off"
                  min="0"
                  step="0.01"
                />
              </mat-form-field>

              <!-- Elevation Gain -->
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label for="elevationGain">{{ 'card.hiking-trail-form.elevation-gain' | translate}}</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="elevationGain"
                  autocomplete="off"
                  min="0"
                  step="1"
                />
              </mat-form-field>

              <!-- Elevation Gain -->
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label for="elevationLoss">{{ 'card.hiking-trail-form.elevation-loss' | translate}}</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="elevationLoss"
                  autocomplete="off"
                  min="0"
                  step="1"
                />
              </mat-form-field>

              <!-- Average Speed -->
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label for="averageSpeed">{{ 'card.hiking-trail-form.average-speed' | translate}}</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="averageSpeed"
                  autocomplete="off"
                  min="0"
                  step="0.01"
                />
              </mat-form-field>

              <!-- Max Speed -->
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label for="maxSpeed">{{ 'card.hiking-trail-form.max-speed' | translate}}</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="maxSpeed"
                  autocomplete="off"
                  min="0"
                  step="0.01"
                />
              </mat-form-field>

              <!-- Average Heart Rate -->
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label for="averageHeartRate">{{ 'card.hiking-trail-form.average-heart-rate' | translate}}</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="averageHeartRate"
                  autocomplete="off"
                  min="0"
                  step="1"
                />
              </mat-form-field>

              <!-- Max Heart Rate -->
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label for="maxHeartRate">{{ 'card.hiking-trail-form.max-heart-rate' | translate}}</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="maxHeartRate"
                  autocomplete="off"
                  min="0"
                  step="1"
                />
              </mat-form-field>

              <!-- Min Heart Rate -->
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label for="minHeartRate">{{ 'card.hiking-trail-form.min-heart-rate' | translate}}</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="minHeartRate"
                  autocomplete="off"
                  min="0"
                  step="1"
                />
              </mat-form-field>

              <!-- Average Cadence -->
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label for="averageCadence">{{ 'card.hiking-trail-form.average-cadence' | translate}}</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="averageCadence"
                  autocomplete="off"
                  min="0"
                  step="1"
                />
              </mat-form-field>

              <!-- Max Cadence -->
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label for="maxCadence">{{ 'card.hiking-trail-form.max-cadence' | translate}}</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="maxCadence"
                  autocomplete="off"
                  min="0"
                  step="1"
                />
              </mat-form-field>

              <!-- Max altitude -->
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label for="maxAltitude">{{ 'card.hiking-trail-form.max-altitude' | translate}}</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="maxAltitude"
                  autocomplete="off"
                  min="0"
                  step="1"
                />
              </mat-form-field>

              <!-- Min altitude -->
              <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label for="minAltitude">{{ 'card.hiking-trail-form.min-altitude' | translate}}</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="minAltitude"
                  autocomplete="off"
                  min="0"
                  step="1"
                />
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        @if (isCreating()) {
          <div class="fixed inset-0 flex justify-center items-center bg-black/40 z-50">
            <app-loading-spinner />
          </div>
        }
      </form>
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button matButton="tonal" (click)="close()">{{ 'close' | translate }}</button>
    <button matButton="filled" (click)="addHikingTrail()">
      {{ 'add' | translate }}
    </button>
</mat-dialog-actions>
